body {
  background-color: lightblue;
  display: grid;
  place-items: center;
}

#green {
  border: 3px solid green;
}

.gradient-container {
  height: 70vh;
  width: 70vh;
  margin: 1px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom right, #4e45a5, #58c8cc);
  display: grid;

  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Courier New", "Courier", sans-serif;
  color: #fff;
}

.container {
  border: 3px solid red;
  height: 100%;
  width: 100%;
  border-style: dotted;
}

#hundred {
  border: solid;
  height: 15vh;
  display: flex;
  font-size: 20vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
}

#days {
  border: solid;
  padding: 0px;
  font-size: 10vh;
}

#challenge {
  text-align: unset;
  border: solid;
  padding: 1px;
  font-size: 5vh;
  text-transform: uppercase;
}
