
#container{
    width: 100vh;
    height: 100vh;
    display:grid;
    justify-content: center;
    align-content: center;


}

#gradient-container{
    height: 80vh;
    width: 100vh;
    background-image: linear-gradient(to bottom right, red, yellow);
    display:grid;
    justify-content: center;
    align-content: center;
}

#hundred{
    display:grid;
    justify-content: center;
    grid-auto-rows: auto;

}